.delete-button {
    grid-column: 3 / 5;
    grid-row: 5 / 5;
    background-color: coral;
    color: white;
    border: 3px solid #2E3130;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
}
.delete-button:hover {
    font-weight: bold;
}